@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  background-color: #181818;
  box-sizing: border-box;
  font-size: 62.5%; //define the 1rem value = 10px
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden;
  user-select: none;
  line-height: 1.6;
  color: #fafafa;
  //border: 1px solid red;
  padding: 2vh;
  background-color: #181818;
}

.app {
    display: grid;
    grid-template-rows: 96vh;
    grid-template-columns: repeat(12, minmax(min-content, 16rem));
}