/**
* Variables
*/

:root {
  //light-theme colors
  //primary colors
  --primary-black: #181818;
  --primary-white: #fafafa;
  --primary-grey: #606060;

  //secondary colors
  --secondary-color: #f75d37;

  --tertiary-black: #151515;
  --tertiary-white: #fcfcfc;
  //dark-theme colors

  //others
  //app background colors
  --background-black: #101010;
  
}
.light-theme {
  --backGroundColor: var(--primary-white);
  --dashedLineColor: var(--primary-black);
  --pagesBackgroundColor: var(--tertiary-white);
  --textFontColor: var(--primary-black);
  --fontColorOrange: var(--secondary-color);
}

.dark-theme {
  --backGroundColor: var(--primary-black);
  --dashedLineColor: var(--primary-grey);
  --pagesBackgroundColor: var(--tertiary-black);
  --textFontColor: var(--primary-white);
  --fontColorOrange: var(--secondary-color);
}

/**
* Reset values
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //define the 1rem value = 10px
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden;
  user-select: none;
  padding: 2vh;
  line-height: 1.6;
  background-color: var(--background-black);
}

.app {
    display: grid;
    grid-template-rows: 96vh;
    grid-template-columns: repeat(12, minmax(min-content, 16rem));
}