/**
* Variables
*/

:root {
  //dark-theme colors
  --primary-black: #181818;
  --primary-white: #fafafa;

  //light-theme colors
  
}
.light-theme {
  --backGroundColor: var(--primary-black);
  --fontColor: var(--primary-white);
}

.dark-theme {
  --backGroundColor: var(--primary-white);
}

/**
* Reset values
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //define the 1rem value = 10px
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden;
  user-select: none;
  padding: 2vh;
  line-height: 1.6;
  background-color: var(--backGroundColor);
  color: var(--fontColor);
}

.app {
    display: grid;
    grid-template-rows: 96vh;
    grid-template-columns: repeat(12, minmax(min-content, 16rem));
}