.offers-wrapper {
  grid-column: 1 / 10;
  grid-row: 1;
  border-right: 1.5px dashed var(--dashedLineColor);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--pagesBackgroundColor);
  transition: background-color 1s ease-in;
  


  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid teal;

  h2 {
    margin-bottom: 1rem;
    padding: 0;
    font-weight: 600;
    color: var(--textFontColor);
    transition: color 1s ease-in;
  }

  ul {
    width: auto;
    height: 4.308rem;
    display: flex;
    margin: 0 auto;
    //border: 1px solid red;

    button {
      outline: none;
      border: none;
      background: transparent;
      font-size: 1.6rem;
      width: 2rem;
      color: var(--textFontColor);
      transition: color 1s ease-in;

      &:hover {
        cursor: pointer;
        color: var(--fontColorOrange);
      }
    }
  }

  .close-circle-outline {
    display: flex;
    width: 98%;
    height: 96.07px;
    align-items: center;
  }

  .close-circle-outline ion-icon {
    margin-left: auto;
    margin-bottom: 1.5rem;
    color: var(--fontColorOrange);
    transition: color 1s ease-in;
    font-size: 1.9vw;
    --ionicon-stroke-width: 2rem;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

.display {
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.dddd {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  color: var(--textFontColor);
  transition: color 1s ease-in;
  //border: 1px solid red;
}

.page__under-img {
  margin-top: 2rem;
  width: 50%;
  height: 50%;
}
