.aside {
  /* grid */
  /* .aside is fixed for main-about-quiz, but not for Offers */
  grid-row: 1 / 11;
  grid-column: 2 /3;
  border-left: 2px dashed #000;
  /*  */
  
  background-color: #fcfcfc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 95vh;
  //border: 1px solid red;

  .aside-main {
    height: 84.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    //margin-left: 1vw;

    nav {
      font-size: 1.15rem;
      display: flex;
      width: 22.2rem;
      justify-content: space-between;
      letter-spacing: 0.4px;
      font-weight: 400;
      //border: 1px solid red;
      margin-left: 62.9px;

      button {
        color: #909090;

        &:hover {
          color: #f75d37;
        }
      }
    }

    h2 {
      margin-left: 49.2px;
      letter-spacing: 0.4px;
      font-size: 40px;
      line-height: 47px;
      color: #303030;
      //border: 1px solid red;
    }

    .bbb {
      display: flex;
      width: 100%;
      justify-content: space-around;
      //border: 1px solid red;
      margin-bottom: 1rem;
      //border: 1px solid red;
      padding: 0;
    }

    &__carrousel {
      height: 45vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      //border: 1px solid blue;
      padding: 0;
      padding-left: 32.51px;
      padding-right: 32.51px;
    }

    .qr-code {
      margin-top: -20px;
      margin-left: 46px;
      width: 75px;
      height: 75px;
    }

    .search-results{

      h3{
        font-size: 1rem;
        color: #303030;
      }
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
    }

    .show-all button {
      text-align: right;
      width: 98%;
      
      color: #303030;

      &:hover {
        opacity: 0.5;
        color: #f75d37;
        cursor: pointer;
      }
    }
    .pagination {
      //border: 1px solid red;
      width: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 1.1vw;
        --ionicon-stroke-width: 20px;
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }
}

.aside-adventurous__mood {
  //border: 1px solid red;

  h3 {
    letter-spacing: 0.5px;
    margin-left: 1vw;
    color: #181818;
  }

  &-icons {
    margin-left: 68.27px;
    //border: 1px solid teal;
    width: 67%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  ion-icon {
    font-size: 1.5vw;
    color: #c4c4c4;
    --ionicon-stroke-width: 26px;
    &:hover {
      opacity: 0.8;
      color: #f75d37;
      cursor: pointer;
    }
  }
}
