.aside {
  /* grid */
  /* .aside is fixed for main-about-quiz, but not for Offers */
  grid-row: 1;
  grid-column: 2 /3;
  /*  */
  padding: 0 2vh;
  background-color: #fafafa;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 95vh;
  //border: 1px solid red;

  .aside-main {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //border: 1px solid red;
    margin-left: 1vw;

    nav {
      font-size: 1.15rem;
      display: flex;
      width: 19rem;
      justify-content: space-between;
      letter-spacing: 0.4px;
      font-weight: 400;

      button {
        color: #909090;

        &:hover {
          color: #f75d37;
        }
      }
    }

    h2 {
      letter-spacing: 0.4px;
      font-size: 2.5rem;
      color: #303030;
    }

    .bbb {
      display: flex;
      width: 100%;
      justify-content: space-between;
      //border: 1px solid red;
      margin-bottom: 1rem;
    }

    &__carrousel {
      
      height: 50vh;
      display: flex;
      flex-direction: column;
    }
    .search-results{

      h3{
        font-size: 1rem;
        color: #303030;
      }
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
    }

    .show-all button {
      text-align: right;
      width: 98%;
      color: #303030;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .pagination {
      //border: 1px solid red;
      width: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 1.1vw;
        --ionicon-stroke-width: 20px;
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }
}

.aside-adventurous__mood {
  //border: 1px solid red;

  h3 {
    letter-spacing: 0.5px;
    margin-left: 1vw;
    color: #181818;
  }

  &-icons {
    //border: 1px solid teal;
    width: 67%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  ion-icon {
    font-size: 1.5vw;
    color: #f75d37;
    --ionicon-stroke-width: 26px;
    &:hover {
      opacity: 0.8;
      color: #303030;
    }
  }
}
