.offer-item {
  margin-top: 5vh;
  width: 25rem;
  height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(96, 96, 96, 0.2); 

  h3 {
    font-size:1.6rem;
    margin: 1.5vh 0;
    text-align: center;
    color: #303030;
    
  }

  .infos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
  
    li {
      display: flex;
      align-items: center;
      width: auto;
      font-size: 1rem;
  
      ion-icon {
        font-size: 1.5rem;
        color: #f75d37;
        margin-right: 0.8rem;
      }
    }
  }

  .description {
    text-align: justify;
    margin: 2vh 0.5vw;
  }

  .img-container {
    width: 100%;
    height: 20rem;
    margin-bottom: 1.2rem;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}