.offers-wrapper{
    height: 95vh;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fcfcfc;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;

    ul {
        margin-top: 1rem;
        width: auto;
        display: flex;

        button{
            width: 1rem;
        }
    }

}

.display {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.page__under-img{
    margin-top: 2rem;
    width: 50%;
    height: 50%;
}