.app__authentication {
    /* grid columns and row*/
    grid-column: 1 / 10;
    grid-row: 1;
    border-right: 1.5px dashed black;
    //border: 1px solid blue;

    /* position */
    display: flex;
    justify-content: space-evenly;
    padding-top: 20vh;
    align-items: flex-start;
    background-color: #fcfcfc;
    color: #181818;
    font-weight: 800;

    // border-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }