.aside-adventurous__mood {
  //border: 1px solid red;

  h3 {
    letter-spacing: 0.5px;
    margin-left: 1vw;
    color: #181818;
  }

  &-icons {
    //border: 1px solid teal;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  ion-icon {
    font-size: 1.5vw;
    color: #f75d37;
    --ionicon-stroke-width: 26px;
    &:hover {
      opacity: 0.8;
      color: #303030;
    }
  }

}


