/*
* css variables are located inside app.scss
*/

.app__main {
  grid-column: 1 / 10;
  grid-row: 1;

  //subgrid
  display: grid;
  grid-template-rows: 96.07px repeat(12, minmax(min-content, 1fr));
  grid-template-columns: repeat(12, minmax(min-content, 16rem));
  background-color: #303030;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: var(--fontColorWhite);

  img {
    z-index: -2;
    grid-column: 1 / 10;
    width: 100%;
    height: auto;
  }
}
