*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  background-color: #181818;
  box-sizing: border-box;
  font-size: 62.5%; //define the 1rem value = 10px
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
  user-select: none;
  line-height: 1.6;
  color: #fafafa;
  font-size: 2rem;
  //border: 1px solid red;
  padding: 2vh;
  background-color: #181818;
}

.app {
  display: grid;
  grid-template-rows: 96vh;
  grid-template-columns: repeat(12, minmax(min-content, 16rem));

  &__main {
    grid-column: 1 / 10;
    grid-row: 1;
    //border: 1px solid blue;
    display: grid;
    grid-template-rows: repeat(12, minmax(min-content, 1fr));
    grid-template-columns: repeat(12, minmax(min-content, 16rem));
    background-color: #303030;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    img {
      z-index: -2;
      grid-column: 1 / 10;
      width: 100%;
      height: auto;
    }
    //@debug: 30px;

    &__logo {
      grid-column: 2 / 7;
      grid-row: 1 / 2;
      //border: 1px solid pink;
      font-size: 1.6vw;
      letter-spacing: 0.8px;
      display: flex;
      align-items: center;

      span {
        color: #f75d37;
      }
    }

    &__intro {
      grid-column: 2 / 5;
      grid-row: 5 / 8;
      //border: 1px solid blue;
      //align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h1 {
      }

      h5 {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    a {
      //border: 1px solid brown;
      grid-column: 2 / 3;
      grid-row: 8 / 9;

      .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1.6rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      @media (prefers-reduced-motion: reduce) {
        .btn {
          transition: none;
        }
      }

      .btn:hover {
        color: #212529;
        text-decoration: none;
      }

      .btn:focus,
      .btn.focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }

      .btn.disabled,
      .btn:disabled {
        opacity: 0.65;
      }

      .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
      }

      a.btn.disabled,
      fieldset:disabled a.btn {
        pointer-events: none;
      }

      .btn-primary {
        color: #fafafa;
        background-color: #f75d37;
        border-color: #f75d37;
        opacity: 0.9;
        width: 10vw;
      }

      .btn-primary:hover {
        color: #fafafa;
        opacity: 1;
      }

      .btn-primary:focus,
      .btn-primary.focus {
        color: #fafafa;
        background-color: #0069d9;
        border-color: #0062cc;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
      }

      .btn-primary:not(:disabled):not(.disabled):active:focus,
      .btn-primary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
      }

      .btn-lg,
      .btn-group-lg > .btn {
        padding: 0.5rem 1rem;
        font-size: 1.8rem;
        line-height: 1.5;
        border-radius: 0.3rem;
      }
    }
  }

  /* ASIDE */
  &__aside {
    //background-color: #fafafa;
    grid-column: 10 / -1;
    //border: 1px solid teal;
    display: grid;
    grid-template-rows: repeat(12, minmax(min-content, 1fr));
    //grid-template-columns: repeat(6, minmax(min-content, 16rem));

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &__header {
      //border: 1px solid pink;
      //margin-left: -70rem;
      border-top-right-radius: 30px;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      background-color: #606060;
      display: flex;
      align-items: center;

      &__nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        list-style: none;

        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 55%;
          height: 100%;
          //border: 1px solid red;
        }

        &-icon {
          border-radius: 50%;
          background-color: #fafafa;
          margin-left: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 46px;
          height: 46px;
        }

        &-search {
          border-radius: 50%;
          background-color: #fafafa;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;

          ion-icon {
            color: #000;
            font-size: 20px;
          }
        }
        a {
          letter-spacing: 0.5px;
          color: white;
          font-weight: 800;
          font-size: 1.6rem;
          text-decoration: none;
        }
      }
    }

    /* ASIDE FILTERS*/
    &__filters {
      padding-top: 1rem;
      grid-column: 1 / -1;
      grid-row: 2 / 5;
      color: #000;
      background-color: #fafafa;
      display: grid;
      align-items: center;

      h2 {
        margin-left: 49.2px;
        letter-spacing: 0.4px;
        font-size: 40px;
        line-height: 47px;
        color: #303030;
      }

      nav {
        font-size: 1.15rem;
        display: flex;
        width: 69%;
        justify-content: space-between;
        letter-spacing: 0.4px;
        font-weight: 400;
        //border: 1px solid red;
        margin-left: 62.9px;

        button {
          color: #909090;
          border: none;
          background-color: transparent;
          outline: none;
          font-size: 1.6rem;

          &:hover {
            color: #f75d37;
            cursor: pointer;
          }
        }
      }

      &__mood {
        //border: 1px solid red;

        ul {
          margin-left: 68.27px;
          //border: 1px solid teal;
          width: 67%;
          height: auto;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          li {
            list-style: none;
          }
        }

        ion-icon {
          font-size: 1.6vw;
          color: #c4c4c4;
          --ionicon-stroke-width: 26px;

          &:hover {
            opacity: 0.8;
            color: #f75d37;
            cursor: pointer;
          }
        }
      }
    }

    &__carousel {
      grid-column: 1 / -1;
      grid-row: 5 / 11;
      background-color: #fafafa;
      padding-left: 15.51px;
      padding-right: 15.51px;
      //border: 1px solid blue;
      display: grid;
      align-items: center;

      &__items {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: space-evenly;
        //border: 1px solid red;
      }

      &__show-offers button {
        text-align: right;
        border: none;
        background-color: transparent;
        outline: none;
        width: 98%;
        font-size: 1.5rem;

        color: #303030;

        &:hover {
          opacity: 0.5;
          color: #f75d37;
          cursor: pointer;
        }
      }

      .search-results {
        //border: 1px solid red;
        h3 {
          font-size: 1.4rem;
          color: #303030;
        }
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    &__code {
      grid-column: 1 / -1;
      grid-row: 11 / 13;
      //background-color: brown;
      background-color: #fafafa;
      display: grid;
      align-items: start;

      img {
        margin-left: 46px;
        width: 75px;
        height: 75px;
      }
    }

    &__footer {
      grid-column: 1 / -1;
      grid-row: 13;
      //background-color: lightcoral;
      border-bottom-right-radius: 30px;
      //align-self: end;

      &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 43.84px;
        background-color: #606060;
        border-bottom-right-radius: 30px;
        font-size: 13px;
        color: #fafafa;
      }
    }
  }
}
